:root {
    --el-menu-text-color: #bfcbd9;
    --el-menu-active-color: #409EFF;
}

.el-scrollbar__view {
    height: 100%;
}
.el-menu.el-menu--vertical {
    height: 100%;
    transition: none;
}
.sidebar-container{
    --el-menu-bg-color: #304156 ; /* 浅蓝色 */
    width: 180px !important;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
}

.main-container{
    height: 100%;
    margin-left: 180px;
}

.hideSidebar{
    .sidebar-container{

   }
    .main-container {
        margin-left: 64px;
    }
    .submenu-title-noDropdown {
        padding-left: 10px !important;
        position: relative;
        .el-tooltip {
            padding: 0 10px !important;
        }
    }
}



.sidebar-container li {
    background-color: #304156;
}




